@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: Pretendard, 'Pretendard Variable', -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', Roboto,
        'Noto Sans KR', 'Segoe UI', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        sans-serif;
    min-height: 100vh;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    font-size: 14px;
}

#root {
    min-height: 100vh;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 203 100% 11%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 180 5% 96%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 180 5% 96%;
        --input: 180 5% 96%;
        --ring: 221.2 83.2% 53.3%;

        --radius: 0.5rem;

        --text: 203 100% 11%;
        --text-700: 225 5% 34%;
        --text-800: 220 5% 24%;
        --dim: 218 5% 54%;
        --sidebar: 180 5% 96%;
        --sidebar-hover: 240 5% 92%;
        --placeholder: 218 4% 64%;
        --chatbot-card: 0 0 100%;
        --button-disabled: 225 4% 82%;
        --button-disabled-text: 0 0 100%;
    }

    .dark {
        --background: 218 73% 3%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 220 5% 24%;
        --popover-foreground: 210 40% 98%;

        --primary: 203 100% 11%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 225 5% 34%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 220 5% 24%;
        --input: 225 5% 34%;
        --ring: 224.3 76.3% 48%;

        --text: 0 0 100%;
        --text-700: 218 4% 64%;
        --text-800: 220 5% 74%;
        --dim: 218 5% 54%;
        --sidebar: 220 4% 14%;
        --sidebar-hover: 225 5% 34%;
        --placeholder: 218 4% 64%;
        --chatbot-card: 240 2% 11%;
        --button-disabled: 0 0% 33%;
        --button-disabled-text: 220 5% 74%;

        & .yoopta-block-actions button {
            color: #fff !important;
        }

        & .yoopta-toolbar-root {
            background-color: #666970;
            box-shadow: 0 4px 12px #0f0f0f;
            color: white;
        }

        & .yoopta-table td[data-cell-selected='true'] {
            background-color: #666970;
        }

        #action-menu-list-portal,
        #highlight-color-portal,
        #toolbar-portal,
        .yoopta-extended-block-actions,
        .yoopta-mark-code,
        [data-floating-ui-portal] {
            color: #000;
        }

        [data-radix-select-viewport] {
            @apply bg-popover !important;

            button:hover {
                @apply bg-accent !important;
            }
        }

        .yoopta-block-options-menu-content {
            @apply bg-popover text-foreground !important;

            .yoopta-block-options-button:hover {
                @apply bg-accent !important;
            }
        }

        .yoopta-action-menu-list-content {
            @apply bg-popover text-foreground !important;

            .yoopta-button:hover {
                @apply bg-accent !important;
            }

            .yoo-action-menu-flex {
                @apply bg-transparent !important;
            }

            svg {
                @apply text-foreground !important;
            }
        }

        .yoopta-link-tool {
            @apply bg-popover text-foreground !important;

            input {
                @apply bg-popover text-foreground !important;
            }
        }

        .yoopta-toolbar-item:hover,
        .yoopta-toolbar-item-mark:hover {
            @apply bg-accent !important;

            svg {
                @apply text-foreground !important;
            }
        }

        .yoopta-link-preview {
            @apply bg-popover text-foreground !important;
        }

        @layer utilities {
            ::selection {
                color: black;
            }
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings: 'rlig' 1, 'calt' 1;
    }
}

.glassmorphism {
    @apply bg-white bg-opacity-10 backdrop-filter backdrop-blur-lg;
}

.dark .glassmorphism {
    @apply bg-gray-800 bg-opacity-30;
}

[contenteditable]:empty:before {
    content: attr(placeholder);
    @apply text-muted-foreground;
}

.gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-cyan-600;
}

.dark .gradient-text {
    @apply from-blue-400 to-cyan-400;
}

.transition-all {
    transition-property: all;
}

@keyframes pulse {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.yoo-image-flex {
    max-width: 100% !important;
}
